.main {
  /* width: 70%; */
  margin: 25vh auto;
  /* display: flex; */
  /* align-content: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  align-items: center; */
  font-size: 1.5rem;
}

.input-class {
  width: min(5rem, 2rem);
  height: 2rem;
}

/* Hide arrows on input field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.user-input-container {
  display: flex;
  justify-content: center;
  gap: .25rem;
  flex-grow: 1;
  /* align-items: center; */
}

.time-per-distance-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}